<div id='sub-comment-form-div' style='display: none' class='czlife-margin-20'>
		<div class='czlife-close-comment-div czlife-text-align-right'>关闭评论框</div>
        <form class='form-horizontal' id='sub-comment-create-form'>
        	<input name='tarAuthor' style='display: none'>
        	<input name='commentId' style='display: none'>
            <div class='form-group czlife-add-padding-15'>
				<textarea placeholder='写下你的评论吧...' class='form-control' rows=5 name='subComment_content'></textarea>
			</div>
			<div class='form-group'>
				<div class='col-lg-offset-8 col-lg-4'>
					<button type='button' class='btn btn-primary czlife-full-width-btn' 
					id='createSubComment-submitBtn'>确认</button>
				</div>
			</div>
        </form>
</div>