		<nav class='navbar <%- userStyle.nav ? 'navbar-' + userStyle.nav : 'navbar-inverse' %> czlife-footer' >
			<ul class='nav navbar-nav czlife-ul'>
				<li><a>关于本站</a></li>
				<li><a href='https://github.com/SJcz/czlife' target='_blank'>GitHub</a></li>
				<li><a href='https://www.aliyun.com/' target='_blank'>阿里云</a></li>
				<li><a href='http://www.miitbeian.gov.cn/' target='_blank'>粤ICP备18096820号-1</a></li>	
				<li>
					<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010602005429" >
						<img src="/images/备案图标.png" style="float:left;"/>
						<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">粤公网安备 44010602005429号</p>
					</a>
				</li>
			</ul>
		</nav>
	</body>
</html>
	 