		<nav class='navbar <%- userStyle.nav ? 'navbar-' + userStyle.nav : 'navbar-inverse' %> czlife-footer' >
			<ul class='nav navbar-nav czlife-ul'>
				<li><a>关于本站</a></li>
				<li><a href='https://www.github.com/' target='_blank'>GitHub</a></li>
				<li><a href='https://www.aliyun.com/' target='_blank'>阿里云</a></li>
				<li><a href='http://www.miitbeian.gov.cn/'>粤ICP备18096820号-1</a></li>	
			</ul>
		</nav>
	</body>
</html>