<div>
	<%- include('./user-info') %>
	<%- include('./user-sort') %>
	<%- include('./user-activity') %>
	<div style='height: 300px'></div>
</div>


<script type='text/javascript' src='/views-user-setting-userCenter.js'></script>

