<div>
<h3 class='page-header czlife-margin-bottom-20'>修改密码</h3>
		<img src='/<%- user.avatar %>' class='img-responsive img-circle center-block' style='height: 100px;margin-bottom: 20px' alt='Responsive image'>
		<form class='form-horizontal' id='setting-change-password-form'>
			<input style='display: none' name='userId' value='<%- user._id %>'/>
			<div class='form-group'>
				<label class='col-lg-2'>旧密码</label>
				<div class='col-lg-10'>
					<input type='password' class='form-control' name='oldPassword'/>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-lg-2'>新密码</label>
				<div class='col-lg-10'>
					<input type='password' class='form-control' name='newPassword'/>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-lg-2'>确认密码</label>
				<div class='col-lg-10'>
					<input type='password' class='form-control' name='repeatPassword'/>
				</div>
			</div>
			<div class='form-group'>
				<div class='col-lg-offset-2 col-lg-10'>
					<button type='button' id='setting-change-password-submitBtn' class='btn btn-info czlife-float-right'>确认修改</button>
				</div>
			</div>
		</form>
</div>

<script type='text/javascript' src='/views-user-setting-changePassword.js'></script>

