<div>
	<h3 class='page-header czlife-margin-bottom-20'>已发布文章</h3>
			<ul class='list-group'>
				<% for (var i = 0; i < publishedArticleList.length; i++) { -%>
					<%- include('./article-list-hover-item', {article: publishedArticleList[i]}) %>
				<% } -%>
			</ul>
	<h3 class='page-header czlife-margin-bottom-20'>参与文章</h3>
			<ul class='list-group'>
				<% for (var i = 0; i < commentedArticleList.length; i++) { -%>
					<%- include('./article-list-item', {article: commentedArticleList[i]}) %>
				<% } -%>
			</ul>
</div>

<script type='text/javascript' src='/views-user-setting-articleManage.js'></script>

