<div style='margin-top: 40px;'>
	<h3 class='page-header czlife-margin-bottom-20'>用户活跃度</h3>
	<ul class="nav nav-tabs" id='setting-chart-nav'>
  		<li role="presentation" class="active" category='visit'><a>访问量</a></li>
  		<li role="presentation" category='article'><a >发布文章</a></li>
  		<li role="presentation" category='comment'><a >评论文章</a></li>
	</ul>
	<canvas id="activityChart" ></canvas>
</div>

